html {
  scroll-behavior: smooth;
}

body * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

nav,
ul {
  display: flex;
}

nav {
  position: fixed;
  width: 100%;
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 20px;
  gap: 20px;
  border: 1px solid black;
  padding-left: 0;
}

h1 {
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
}

a {
  color: black;
  text-decoration: none;
}

li,
ul,
li > a {
  border: 1px solid black;
}

ul {
  padding: 15px;
}

li {
  padding: 10px;
}

li > a {
  padding: 5px;
}
