body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Your code here */
header {
  background-color: lightskyblue;
  padding: 40px;
}

main {
  background-color: lightgray;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 40px;
  gap: 20px;
}

section {
  background-color: white;
  margin: 20;
}

section p {
  padding: 10;
}

img {
  width: 100%;
}
