html {
  scroll-behavior: smooth;
}

body * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* create additional rules below:  */

section {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home {
  background-color: coral;
}
#bio {
  background-color: orange;
}

#portfolio {
  background-color: skyblue;
}

#contact {
  background-color: green;
}

